.mainContainer {
    display: flex;
    flex-direction: row;
    padding: 0.75rem;
}

.searchContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 2rem;
}

.dataContainer {
    padding: 2rem;
    flex: 4;
}